<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appenders>
        <Console name="LoggerMiddleware" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="false">
            </JsonLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="VRAP_JSON_LOGGER" level="TRACE" additivity="false">
            <AppenderRef ref="LoggerMiddleware" />
        </Logger>
    </Loggers>

</configuration>