.gradle
build/
generated_*/
out/
target/
.project
.settings/
classes/
.classpath
bin


.idea
cache/
/taglets.jar
!/licences
/licenses/*
!/licenses/index.json
!/licenses/**/index.json
dependencies-without-allowed-license.json
project-licenses-for-check-license-task.json
