<div class="pull-right">
    <ul class="nav pull-right">
        <li class="nav-item"  sec:authorize="isAnonymous()">
            <a class="nav-link text-dark" th:href="@{/login}">Login</a>
        </li>
        <li class="dropdown marginTop10" sec:authorize="isAuthenticated()">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <span sec:authentication="name">User</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a class="nav-link text-dark" th:href="@{/logout}">
                        <i class="icon-off">Logout</i>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" th:href="@{/cart}">
                <i class="fa" style="font-size:24px">&#xf07a;</i>
                <span class='badge badge-warning' id='lblCartCount' th:text="${activeCartCount}">0</span>
            </a>
        </li>
    </ul>
</div>
