<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{shared/layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>My cart</title>
</head>
<body>
<section>
    <div class="text-center">
        <h5>
            My Cart
        </h5>
        <div id="div-LineItems">
            <table class="table">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody th:each="lineItem : ${cart.lineItems}">

                <tr>
                    <td th:text="${lineItem.name.values.en}">ProductName</td>
                    <td th:text="${lineItem.quantity}">Quantity</td>
                    <td>
                        <a id="btn_add" th:href="@{/cart/del(lineItemId=${lineItem.id})}" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
