on:
  - workflow_dispatch

name: Release snapshot

jobs:
  release:
    name: Build and release

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: '8'

      - name: Build and Test
        run: ./gradlew --build-cache clean test

      - name: Release
        run: ./gradlew --build-cache publishAllPublicationsToGitHubPackagesRepository --info --stacktrace
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
