on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

name: AutoRelease

# Declare default permissions as read only.
permissions: read-all

jobs:
  release_tag:
    name: Build and release tag

    runs-on: ubuntu-latest

    if: startsWith( github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - uses: gradle/actions/wrapper-validation@ac638b010cf58a27ee6c972d7336334ccaf61c96 # v4.4.1

      - name: Setup Java
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@b1de5da23ed0a6d14e0aeee8ed52fdd87af2363c # v2.0.2

      - run: scripts/setup-signing-key.sh
        env:
          DECRYPTER: ${{ secrets.DECRYPTER }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          PASSPHRASE: ${{ secrets.PASSPHRASE }}

      - run: ./gradlew -Pversion=$REF_NAME clean test javadoc publishToSonatype closeAndReleaseSonatypeStagingRepository
        env:
          REF_NAME: ${{ github.ref_name }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ secrets.GITHUB_ACTOR }}

      - run: rm -rf ~/.gradle/gradle.properties

  update_readme:
    runs-on: ubuntu-latest

    needs: [release_tag]
    if: startsWith( github.ref, 'refs/tags/')

    steps:
      # Get GitHub token via the CT SDKs App
      - name: Generate GitHub token (via CT SDKs App)
        id: generate_github_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        with:
          app-id: ${{ secrets.CT_SDKS_APP_ID }}
          private-key: ${{ secrets.CT_SDKS_APP_PEM }}

      - name: Get App user
        id: get_app_user
        env:
          GITHUB_TOKEN: ${{ steps.generate_github_token.outputs.token }}
        run: |
          export GH_APP_USER=`gh api /users/ct-sdks%5Bbot%5D | jq .id`
          echo "email=${GH_APP_USER}+ct-sdks[bot]@users.noreply.github.com" >> "$GITHUB_OUTPUT"

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
            ref: main
            token: ${{ steps.generate_github_token.outputs.token }}

      - uses: gradle/actions/wrapper-validation@ac638b010cf58a27ee6c972d7336334ccaf61c96 # v4.4.1

      - run: ./gradlew -Pversion=$REF_NAME writeVersionToExamples writeVersionToReadme setVersion nextMinorVersion snapshotVersion
        env:
          REF_NAME: ${{ github.ref_name }}

      - name: "Switch SDK to after release branch"
        run: |
            git fetch --depth=1 origin after-release || true
            git checkout -B after-release origin/after-release || true
            git checkout -B after-release
            git log -1

      - name: "update changelog"
        run: |
            gh api /repos/commercetools/commercetools-sdk-java-v2/releases --paginate > releases.json
            node scripts/changelog.js > CHANGELOG.md
            rm -rf releases.json
        env:
          GH_TOKEN: ${{ steps.generate_github_token.outputs.token }}

      - name: "remove API reference commit SHA"
        run: rm -rf reference.txt
        continue-on-error: true

      - uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6.0.1
        with:
          branch: after-release
          commit_message: "TASK: Updating version in README"
          commit_author: ct-sdks[bot] <${{ steps.get_app_user.outputs.email }}>
          commit_user_name: ct-sdks[bot]
          commit_user_email: ${{ steps.get_app_user.outputs.email }}

  docs:
    name: Build and release docs

    runs-on: ubuntu-latest
    needs: [release_tag]
    if: startsWith( github.ref, 'refs/tags/')
    steps:
      # Get GitHub token via the CT SDKs App
      - name: Generate GitHub token (via CT SDKs App)
        id: generate_github_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        with:
          app-id: ${{ secrets.CT_SDKS_APP_ID }}
          private-key: ${{ secrets.CT_SDKS_APP_PEM }}

      - name: Get App user
        id: get_app_user
        env:
          GITHUB_TOKEN: ${{ steps.generate_github_token.outputs.token }}
        run: |
          export GH_APP_USER=`gh api /users/ct-sdks%5Bbot%5D | jq .id`
          echo "email=${GH_APP_USER}+ct-sdks[bot]@users.noreply.github.com" >> "$GITHUB_OUTPUT"

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          path: sdk
          token: ${{ steps.generate_github_token.outputs.token }}

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          path: doc
          ref: gh-pages
          token: ${{ steps.generate_github_token.outputs.token }}

      - name: Setup Java
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@b1de5da23ed0a6d14e0aeee8ed52fdd87af2363c # v2.0.2

      - run: ./gradlew -Pversion=$REF_NAME alljavadoc
        working-directory: sdk
        env:
            REF_NAME: ${{ github.ref_name }}


      - run: rsync -r sdk/build/docs/javadoc/ doc/javadoc

      - uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6.0.1
        with:
          repository: doc
          commit_message: "Update javadoc"
          commit_author: ct-sdks[bot] <${{ steps.get_app_user.outputs.email }}>
          commit_user_name: ct-sdks[bot]
          commit_user_email: ${{ steps.get_app_user.outputs.email }}
