# Name of this GitHub Actions workflow.
name: Semgrep Scan for CodeQL

on:
    workflow_dispatch:
    schedule:
        - cron: '0 5 * * 1'

permissions:
    # required for all workflows
    security-events: write
    # only required for workflows in private repositories
    actions: read
    contents: read

jobs:
    semgrep:
        # User definable name of this GitHub Actions job.
        name: semgrep
        # If you are self-hosting, change the following `runs-on` value:
        runs-on: ubuntu-latest

        container:
            # A Docker image with Semgrep installed. Do not change this.
            image: returntocorp/semgrep

        # Skip any PR created by dependabot to avoid permission issues:
        if: (github.actor != 'dependabot[bot]')

        steps:
            - name: Checkout
              uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
              with:
                  persist-credentials: false

            - name: Run Semgrep
              run: semgrep scan --sarif --output=semgrep.sarif --config=p/auto --config=p/dockerfile --config=p/typescript --config=p/javascript --config=p/java --metrics=off --verbose
            - name: Upload SARIF file for GitHub Advanced Security Dashboard
              uses: github/codeql-action/upload-sarif@45580472a5bb82c4681c4ac726cfdb60060c2ee1 # v3.32.4
              with:
                  sarif_file: semgrep.sarif
              if: always()
